<p>
  Hi <%= @user.email %>,
</p>

<p>
  The class <b><%= @course.course %></b> that you've subscribed has changed its status from <b><%= @origin_status %></b> to <b><%= @course.status %></b>.
</p>

<p>
  **This email is sent by the system. Please do not reply.**
</p>
